In [77]:
from datetime import date, timedelta, datetime
import yfinance as yf

DATE_FORMAT = "%Y-%m-%d"

TODAY = date.today()
ONE_YEAR_AGO = TODAY - timedelta(days=365)
# [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]


def smallest_interval(start, end):
    duration = end - start
    if(duration <= timedelta(days=60)):
        return "1m"
    if(duration <= timedelta(days=730)):
        return "1h"
    return "1d"

def load_data(ticker, start=ONE_YEAR_AGO, end=TODAY): 
    return (yf.download(ticker, start.strftime(DATE_FORMAT), end.strftime(DATE_FORMAT), interval="1h").reset_index())

In [78]:
load_data('SHOP')

[*********************100%***********************]  1 of 1 completed

,Date,Open,High,Low,Close,Adj Close,Volume
0,2020-03-19,336.160004,345.599915,316.000000,337.842010,337.842010,788945
1,2020-03-19,338.000000,338.989014,322.000000,332.406006,332.406006,547580
2,2020-03-19,333.157898,333.157898,322.010010,326.609985,326.609985,385816
3,2020-03-19,326.089600,334.000000,324.000000,330.299988,330.299988,258870
4,2020-03-19,329.809998,341.429993,329.329987,338.000000,338.000000,342053
...,...,...,...,...,...,...,...
1753,2021-03-18,1137.760010,1141.630005,1129.535034,1140.489990,1140.489990,95547
1754,2021-03-18,1141.459961,1145.839966,1134.819946,1145.520020,1145.520020,65803
1755,2021-03-18,1146.880005,1148.000000,1121.079956,1121.079956,1121.079956,82130
1756,2021-03-18,1123.739990,1125.619995,1115.000000,1119.550049,1119.550049,169948
1757,2021-03-18,1121.770020,1123.000000,1106.260010,1117.079956,1117.079956,206467

In [65]:
ticker = yf.Ticker("MSFT")

In [61]:
ticker.dividends
ticker.financials
ticker.splits

Date
2014-03-27    2.002000
2015-04-27    1.002746
Name: Stock Splits, dtype: float64

In [67]:
ticker.financials

Empty DataFrame
Columns: [Open, High, Low, Close, Adj Close, Volume]
Index: []

In [69]:
load_data('SHOP')

[*********************100%***********************]  1 of 1 completed

1 Failed download:
- SHOP: Invalid input - interval=1hfg is not supported. Valid intervals: [1m, 2m, 5m, 15m, 30m, 60m, 90m, 1h, 1d, 5d, 1wk, 1mo, 3mo]

Empty DataFrame
Columns: [Date, Open, High, Low, Close, Adj Close, Volume]
Index: []